blinker
certifi
cffi
charset-normalizer
click
colorama
cryptography
dnspython
Flask
idna
itsdangerous
Jinja2
jwt
MarkupSafe
pycparser
PyJWT==1.7.1
pymongo
python-dotenv
requests
urllib3==1.26.6
Werkzeug
